html {
    font-size: 16 px;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
   
}



.column {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.main-container {
    border: solid;
    border-color: rgb(221, 221, 221);
    width: min-content;
    padding: 0.3rem;
}



input {
    display: block;
    height: 2rem;
    line-height: 2rem;
    margin: .25rem;

}

.tall {
    flex-grow: 1;
}



.textview {
    width: 24.6rem;
    margin-left: 0.2rem;
    border: solid;
    border-color: rgb(221, 221, 221);
}









/* .flex-container {
    display: inline-flex;
}

.flex-container > div {
    margin: 0.1rem;
    padding:0.1rem;
   
    
}



.btn-specialStyle {
    
    width: 30px;
    height: 120px;
    border-color: rgb(221, 221, 221);
}

.btn--dark {
    background-color: rgb(185, 185, 185);
    border: solid;
    border-color: rgb(221, 221, 221);
    color: rgb(83, 83, 83);
}

.btn--blue {
    background-color: rgb(40, 67, 224);
    color: rgb(165, 165, 165);
    border: solid;
    border-color: rgb(221, 221, 221);
     
}





.container {
    border: solid;
    border-color: rgb(221, 221, 221);
    width: min-content;
    padding: 0.3rem;
    
}

.btn__font--color {
    color: rgb(165, 165, 165);
} */